{% extends "blog-bundle:layout" %}

{% set title = "Member Signup" %}

{% block body_content %}
    <form action="" method="POST">
        <section>
            <header>
                {% if errors is defined %}
                    <p class="error">Please correct the errors below</p>
                {% else %}
                    <p>Please complete the form below, to sign up.</p>
                {% endif %}
            </header>

            {# TODO: use a macro #}

            {% include "blog-bundle:partials/form/input" with {errors, name: 'firstName', value: user.firstName, label: 'First Name'} %}

            {% include "blog-bundle:partials/form/input" with {errors, name: 'lastName', value: user.lastName, label: 'Last Name'} %}

            {% include "blog-bundle:partials/form/input" with {errors, name: 'email', value: user.email, label: 'Email Address', type: 'email'} %}

            {% include "blog-bundle:partials/form/input" with {errors, name: 'password', label: 'Password', type: 'password'} %}

            <footer>
                <button type="submit" class="action">Continue</button>
            </footer>
        </section>
    </form>
{% endblock %}